body{
   background-color: rgb(255, 255, 255);
}

[class*="col-"], .col{
   color: white;
   border: 1px solid white;
}

.fl-start{
    align-items: flex-start;
}
.fl-center{
    align-items: center;
}
.fl-end{
    align-items: flex-end;
}